*,
*::before,
*::after {
  /* box-sizing: border-box; */
}
*, a {
   color: #c35931;
}

a {
   text-decoration: none;
}

.container { width: 600px; margin: 0 auto; text-align:center; }

/* dropdown css */
.custom-dropdown {
   font-family: sans-serif;
   position: relative;
}

select.custom-dropdown  {
   display: none;
}

.custom-dropdown > .dropdown-toggle {
   background: transparent;
   border: none;
   border-bottom: 1px solid #c35931;
   padding: 0.65rem 1rem;
   width: 100%;
   text-align: left;
   align-items: center;
   display: flex;
   line-height: 1.8rem;
   font-size: 0.95rem;
   font-weight: 500;
   vertical-align: middle;
   outline: none;
   cursor: pointer;
}


.custom-dropdown > .dropdown-toggle > .filter-text {
   width:85%;
}

.custom-dropdown > .dropdown-toggle > .filter-text > .filter-text-inner {
   overflow: hidden;
   white-space: nowrap;
   display: block;
   text-overflow: ellipsis;
}

.custom-dropdown > .dropdown-toggle > .dropdown-icon {
   position: relative;
   margin-left: auto;
}

.custom-dropdown > .dropdown-toggle > .dropdown-icon > span {
   display: block;
   border: 1px solid #c35931;
   height: 25px;
   width: 25px;
   border-radius: 50%;
}

.custom-dropdown > .dropdown-toggle > .dropdown-icon > span::after {
   content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 8px;
    width: 8px;
    /* border: 2px solid #000; */
    transform: rotate(45deg) translate(15%, 100%); 
    border-right: 1px solid #c35931;
    border-bottom: 1px solid #c35931;

}

.custom-dropdown > .dropdown-toggle.show > .dropdown-icon > span::after {
   transform: rotate(225deg) translate(-45%, -120%) 
}

.custom-dropdown .dropdown-menu {
   background-color: #fcfcfc;
   background-clip: padding-box;
   border-bottom: 1px solid #c35931;
   padding: 0;
   margin: 0rem 0 0;
   font-size: 1rem;
   color: #212529;
   text-align: left;
   list-style: none;
   position: absolute;
   width: 100%;

   /* animated */
   display: none;
   max-height: 0;
   opacity: 0;
   overflow: hidden;

   animation: wipe 0.5s normal forwards ease-in-out;
}

@keyframes wipe {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0.80;
   }
   100% {
      opacity: 1;
      max-height: 150px;
   }
}

.custom-dropdown .dropdown-menu.show {
   display: block;
}

.custom-dropdown .dropdown-menu.inner {
   position: relative;
   float: none;
   border: 0;
   padding: 0;
   margin: 0;
   height: 100%;;
   border-radius: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.custom-dropdown .dropdown-menu li {
   position: relative;
}

.dropdown-item {
   display: block;
   padding: .65rem 1rem;
   font-weight: 400;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
   cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:hover {
   background-color: #F6EEE8;
}